.cmbCurso{
	font-size: 10px; 
	margin-top: -5px;
}

.lblCurso{
	font-size: 11px; 
}

.frmGroupCurso{
	margin-top: -20px;
	font-size: 14px;
}


.btnTransparente{
	
	background-color: Transparent; 
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}